@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #1e1e1e #444; /* Thumb color #1e1e1e, track color #444 */
}


